
.checkout-cart {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 10%;
}


.totalCheckoutPage {
    width: 60%;
    margin-top: 5%;
    float: right;
}

.totalCheckoutPage hr {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    width: 100%;
}

.totalCheckoutPage div {
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkoutPageHeading {
    margin-bottom: 5%;
    margin-top: 6%;
}

.checkoutPageButton {
    width: 48%;
    margin-top: 10%;
    border-radius: 15px;
    border: 2px solid var(--yellow);
    color: var(--black);
    background-color: var(--beige);
    font-size: 1.1rem;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutArrow {
    margin-left: 3%;
    stroke-width: 2.5;
    font-size: 1.3rem;
}

.checkoutItem {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    padding: 1% 5%;
    border-radius: 15px;
    margin-bottom: 2%;
    justify-content: space-between;
}

.checkoutItemPrice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutItemPrice span {
    margin: 0 20%;
}

.checkoutItemPrice h4 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.checkoutItemPrice p {
    font-weight: bold;
}

.checkoutItemDes {
    font-size: 1.1rem;
}

.checkoutPageButtonFinal {
    width: 100%;
    margin-top: 5%;
    border-radius: 15px;
    border: none;
    background-color: var(--red);
    color: var(--beige);
    font-size: 1.1rem;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}