
.finalPage h1 {
    color: var(--red);
    font-size: 1.2rem;
}

.finalPageCheck {
    font-size: 4rem;
    padding-bottom: 1%;
    color: var(--yellow);
}

.finalPageParent {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
}

.finalPage {
    text-align: center;
}