.chefProfile {
    width: 80%;
    margin: 3% 10%;
}

.ChoicesLink {
    width: 100%;
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.ChoicesLink div {
    border-radius: 25px;
    margin-right: 2%;
    padding: 0.5% 1%;
    border: 1px solid var(--yellow);
    cursor: pointer;
}

.userCard {
    margin: 1% 0;
    background-color: var(--white);
    padding: 0.5% 3%;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: center;
    align-items: center;
}

.userCard:nth-child(1) {
    margin-top: 5%;
}

.userCard button {
    background-color: var(--yellow);
    border-radius: 25px;
    border: none;
    padding: 10% 20%;
    font-size: 0.9em;
}

hr {
    width: 45%;
    margin: 3% 0%;
    color: black;
    height: 2px;
    background-color: black;
    border: none;
}

.foodItemsUI {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.createDish button {   
    background-color: #4CAF50;   
    width: 80%;   
    padding: 16px;
    padding-left: 5%;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
    border-radius: 25px; 

}

.createDish form {
    display: grid;
    align-items: center;
    padding-top: 4%;
}

.createDish input[type=text], .createDish input[type=number], .createDish textarea[name=description] {   
    width: 80%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
    border-radius: 25px;
}

.createDish select {
    width: 20%;
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    box-sizing: border-box;   
    border-radius: 25px;
}
.createDish {
    width: 100%;
}

.createDish textarea[name=description]{
    padding-bottom: 2%;
    padding-top:2%;
}

.createDish button:hover {   
    opacity: 0.7;   
}

.deliveryStatsChef {
    width: 100%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7%;
}

.deliveryStatsChef h3 {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}

