
.SignIn button {   
    background-color: #4CAF50;   
    width: 25%;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}

.SignIn form {   
    border: 3px solid #f1f1f1;   
}   

.SignIn form {
    display: grid;
    align-items: center;
}

.SignIn input[type=text], .SignIn input[type=password] {   
    width: 25%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}

.SignIn button:hover {   
    opacity: 0.7;   
}