

.search {
    margin: 0% 10%;
    width: 80%;
    margin-top: 3%;
}

.searchHeading {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 2.2%;
    letter-spacing: 2px;
}

.search > div {
    margin-bottom: 5%;
}