
.search {
    margin: 0% 10%;
    width: 80%;
    margin-top: 3%;
}

.searchHeading {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 2.2%;
    letter-spacing: 2px;
}

.special {
    color: var(--yellow);
    margin-left: 2%;
}

.search > div {
    margin-bottom: 5%;
}

.recommendedUI {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 1%;
}

.recommendedLeftSide {
    grid-row: span 2;
    padding: 0% 5% 0 0;
    height: 100%;
    background-color: var(--white);
    box-shadow: 5px 5px 15px 5px #ece6bf;
}

.recommendedLeftSideMain {
    padding: 0% 4% 0 0;
    height: 100%;
    background-color: var(--white);
    box-shadow: 5px 5px 15px 5px #ece6bf;
}

.recommendedRightSide {
    height: 100%;
    display: grid;
}

.recommendedLeftSide, .recommendedLeftSideMain, .recommendRightTop, .recommendRightBottom {
    border-radius: 15px;
}

.recommendedRightSide p, .recommendedLeftSide p {
    margin: 0;
}

.recommendRightTop {
    margin-bottom: 2%;
    background-color: var(--white);
    box-shadow: 5px 5px 15px 5px #ece6bf;
}

.recommendRightBottom {
    background-color: var(--white);
    box-shadow: 5px 5px 15px 5px #ece6bf;
}

.recommendedLeftSide, .recommendedLeftSideMain, .recommendRightTop, .recommendRightBottom {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 45% 50%;
    column-gap: 5%;
}

.recommendedLeftSide div:nth-child(2) p{
    color: var(--lightBlack);
}

.recommendedLeftSide div:nth-child(2) > h3 {
    font-size: 1.5em;
}

.cardSeperation, .cardSeperationRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cardSeperation div p, .cardSeperationRight div p{
    color: var(--black);
    font-size: 1.1em;
    margin: 0;
    margin: 10% 0;
}

.cardSeperation h5, .cardSeperationRight h5 {
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cardSeperationRight div {
    margin-top: 10%;
}

.cardSeperationRight div p {
    font-size: 0.8rem;
}

.recommendedLeftSide h3, .recommendedRightSide h3 {
    margin: 0;
    margin-bottom: 3%;
}

.recommendedLeftSide h3 {
    margin-bottom: 10%;
}

.recommendedLeftSide div p {
    margin-bottom: 10%;
}

.filteredResultsUI {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recommendedLeftSideMain:nth-child(even) {
    width: 45%;
    margin: 1% 0 1% 1%;
}

.recommendedLeftSideMain:nth-child(odd) {
    margin: 1% 1% 1% 0;
    width: 45%;
}

.Loading {
    background-image : url("../images/loading.gif");
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: #f4ac36;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardSeperation .quantity, .cardSeperationRight .quantity {
    display: grid;
    grid-template-columns: repeat(3, 25%) 25%;   
    justify-items: center;
    align-items: center;
}

.cardSeperation .quantity {
    margin: 12% 0;
}

.cardSeperationRight .quantity {
    margin: 8% 0;
}


.cardSeperation .quantity p {
    margin: 0;
}

.cardSeperation .quantity button, 
.cardSeperationRight .quantity button {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    border: none;
    height: 100%;
    border-radius: 50%;
}

.dishImage {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: flex-end;
}

.quantity {
    margin: 10% 0%;
}