@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--beige);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --red: #B22423;
  --beige: #F5F2DF;
  --white: #fff;
  --black: #35312C;
  --yellow: #FFC443;
  --lightBlack: rgb(83, 83, 83);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}