.Reviews {
    margin: 8% 10% 4% 10%;
    width: 80%;
}

.reviewCard {
    background-color: var(--white);
    border-radius: 25px;
    padding: 0.5% 3%;
    margin-bottom: 3%;
}

.reviewCard div:nth-child(2) {
    display: flex;
    width: 100%;
    flex-direction: space-between;
}

.reviewCard div:nth-child(2) p:nth-child(1) {
    flex: 1;
}

.goBackReviews {
    margin-bottom: 3%;
    padding: 1% 2%;
    background-color: var(--yellow);
    border-radius: 25px;
    border: none;
}